.custom_range_date_picker {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  padding: 16px;
  margin-top: 4px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.custom_range_date_input {
  padding: 9px;
  cursor: pointer;
  background-color: #fff;
}

.custom_range_date_picker .rdrCalendarWrapper {
  max-width: 581px;
  min-width: 400px;
}

.custom_date_picker .MuiPickersInputBase-root {
  height: 35px;
}

.custom_date_picker .MuiPickersSectionList-root {
  font-size: 13px;
}

.custom_date_picker .MuiInputAdornment-root svg {
  font-size: 16px;
}

.issue_btn_status {
  height: 26px !important;
  border-radius: 8px !important;
  font-size: 11px !important;
}

.sidebar_company_logo {
  display: none;
}

@media (min-width: 910px) {
  .sidebar_company_logo {
    display: flex;
  }
}
@media (max-width: 577px) {
  .sidebar_company_logo {
    display: flex;
  }
}
@media (max-width: 324px) {
  .sidebar_company_logo {
    display: none;
  }
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar_branch_name {
  max-width: 180px;
}
